:local .panelBase {
  :global .bp3-rtl {
    .bp3-input {
      direction: rtl;
    }
  }
  .designation {
    :global .bp3-input {
      font-family: Georgia, serif;
      font-weight: bold;
    }
  }
  .note {
    font-size: 90%;
  }
  .example {
    font-size: 90%;
    font-style: italic;
  }
}
