@import "~@blueprintjs/core/lib/scss/variables";

:local .panelBase {
  :global .bp3-rtl {
    .bp3-input {
      direction: rtl;
    }
  }
  .designationText {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: $pt-font-size-large;
    margin: .75rem 0 .5rem $pt-grid-size;
  }
  .note {
    font-size: 90%;
  }
  .example {
    font-size: 90%;
    font-style: italic;
  }
}
