@import "~@blueprintjs/core/lib/scss/variables";

$transition1: .2s linear;
$panelLightBg: $light-gray4;
$panelPadding: .375rem;


html, body, #app {
  height: 100vh;
  width: 100vw;
}
#app {
  cursor: default;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  background: $pt-app-background-color;
}

:local .itemButton {
  justify-content: flex-start;
  border-radius: 0 !important;
  box-shadow: none !important;

  :global .bp3-button-text {
    flex: 1;
  }
}

:local .panel .panelContents {
  padding: $panelPadding;
}

:local .panel {
  .panelTitleBar {
    transition: background-color $transition1;
    background: $light-gray3;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: -.01em;
    font-weight: bold;
    color: $pt-text-color-muted;

    .panelTriggerIcon {
      transition: opacity $transition1;
      opacity: .5;
      margin-right: .3rem;
    }

    &:hover {
      background-color: $light-gray2;
      box-shadow: $pt-elevation-shadow-1;

      .panelTriggerIcon {
        opacity: 1;
      }
    }
  }

  &.panelCollapsible {
    &.panelCollapsed {
      .panelContents {
        display: none;
      }
    }
  }

  :global .bp3-input {
    background: transparent;
    border: 0;
    box-shadow: none;
  }
  :global textarea.bp3-input {
    padding-top: 0;
  }
  :global .bp3-form-group {
    padding: 0 .25rem;
    padding-bottom: .25rem;
    margin-bottom: 0;

    &:first-child {
      padding-top: .25rem;
    }

    .bp3-label {
      margin-bottom: 0;
    }

    &.bp3-inline {
      padding-right: .5rem;
    }
  }
}


:local .homeWindowLayout {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

:local .topPanel {
  overflow: hidden;

  .appTitle {
    padding-left: 1rem;
    font-size: 160%;
    color: $pt-text-color-muted;
    text-transform: uppercase;
    letter-spacing: -.05em;
    line-height: 1;
  }

  .panelContents {
    height: 3.75rem;
    padding: 0 1rem .35rem 1rem;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    background: $panelLightBg;
  }

  .panelTitleBar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    z-index: 2;
    position: relative;
  }
}

:local .moduleView {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  overflow: hidden;
  z-index: 2;
  box-shadow: $pt-elevation-shadow-1;
}

:local .moduleSidebar {
  display: flex;
  flex-flow: row nowrap;
  background: $panelLightBg;
  box-shadow: $pt-elevation-shadow-2;
  z-index: 4;

  &.panelCollapsed {
    width: auto;
  }

  > .panelContents {
    width: 17rem;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;

    .fixedPanel {
      flex: 0;
    }

    .restOfPanels {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-flow: column nowrap;
      padding-bottom: 2rem;
      margin: -$panelPadding;
      padding: $panelPadding;
    }

    .panel {
      $titleBarHeight: 1.5rem;

      display: flex;
      flex-flow: column nowrap;
      overflow: hidden;

      box-shadow: $pt-elevation-shadow-1;
      min-height: $titleBarHeight;

      &:not(.panelCollapsed) {
        min-height: $titleBarHeight * 2;
      }

      :global .bp3-tree-node-content {
        height: 24px;
        font-size: 93%;
      }

      .panelTitleBar {
        height: $titleBarHeight;
        flex-shrink: 0;
        padding-left: .5rem;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }
      .panelContents {
        overflow-y: auto;
        overflow-x: hidden;
        padding: .25rem;
        background: $pt-app-background-color;
      }
    }
  }

  > .panelTitleBar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 1rem;
  }

  &.moduleSidebarRight {
    flex-flow: row-reverse nowrap;
  }
}


:local .invalidDesignation {
  text-decoration: line-through;
  opacity: .4;

  :global .bp3-input {
    text-decoration: line-through;
  }
}


:local .moduleMainView {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  > :first-child {
    flex: 1;
  }

  > .moduleToolbar {
    padding: $pt-grid-size;
    background: $light-gray2;
    display: flex;
    align-items: center;

    > * {
      margin-right: .5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .backdrop {
    background: $pt-divider-black;
    padding: 1.25rem;

    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;

    > * {
      display: flex;
      flex-flow: column nowrap;

      overflow-y: scroll;
      background: $pt-app-background-color;

      border-radius: $pt-border-radius;
      box-shadow: $pt-elevation-shadow-3;
    }

    > * + * {
      margin-left: 0.625rem;
      border-radius: 0 $pt-border-radius $pt-border-radius 0;
    }

    > :first-child {
      flex: 1;
      border-radius: $pt-border-radius 0 0 $pt-border-radius;
    }

    > :only-child {
      border-radius: $pt-border-radius;
    }
  }

  .entryDetails {
    padding: 2rem;
    background: white;

    .designation {
      font-weight: normal;
      font-family: Georgia, serif;
      font-size: 210%;
      margin-bottom: 1rem;
    }
    .example, .note {
      .label {
        margin-right: 1rem;
      }
    }
    .example {
      font-style: italic;
    }
    .definition {
      font-size: 120%;
      margin-left: 1em;
      margin-bottom: 2rem;
    }
  }

  .entryForm {
    $padding: $pt-grid-size + $pt-border-radius;

    display: flex;
    flex-flow: column nowrap;
    padding: $padding;

    .designation {
      :global .bp3-input {
        font-weight: bold;
      }
    }

    :global .bp3-form-group {
      .bp3-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .bp3-form-content {
        margin-left: -$padding;
        margin-right: -$padding;

        .bp3-form-helper-text {
          margin-left: $padding;
          margin-right: $padding;
        }
      }
      .bp3-input {
        border-radius: 0;
        box-shadow: none;
        padding-left: $padding;
      }
    }
  }

  .conceptEntryForm {
    flex: 1;

    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;

    .entryFormToolbar {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding: $pt-grid-size;
      background: $light-gray2;

      > * { flex: 1 }

      > :last-child {
        // The commit / revert button group
        > :last-child {
          // The save button
          :global .bp3-button {
            justify-content: flex-start;
            flex: 1;

            .bp3-button-text {
              flex: 1;
            }
          }
        }
      }

      :global .bp3-button-group {
        overflow: hidden;
      }
    }

    .entryForm {
      flex: 1;
    }
  }
}

:local .conceptID {
  opacity: .4;
  font-size: 80%;
}

:local .conceptItem {
  border-radius: 0 !important;
}

:local .lazyConceptList {
  .conceptID {
    width: 1.5em;
    margin-right: .5em;
  }

  .lazyConceptListItem {
    border-radius: 0 !important;
    overflow: hidden;

    :global .bp3-button-text {
      display: flex;
      flex-flow: row nowrap;

      overflow: hidden;
      align-items: center;
      white-space: nowrap;
    }

    .conceptItem {
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .itemMarker {
      flex-shrink: 0;
      width: 2rem;
      overflow: hidden;
      display: inline-block;
      margin-left: .5rem;
      margin-right: .5rem;
    }

    .itemMarkerRight {
      flex-shrink: 0;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}


/* Specific panels */

:local .sourceRollPanel {
  .sourceName {
    color: $pt-text-color-muted;
  }

  .panelContents {
    overflow-y: hidden !important;
    display: flex;
    flex-flow: column nowrap;
    height: 240px;

    > * {
      flex: 1;
    }
    .conceptItem {
      font-size: 90%;
    }
  }
}

:local .languagesPanel {
  .panelContents {
    height: 140px;
  }
}
