@import "~@blueprintjs/core/lib/scss/variables";

$panelLightBg: $light-gray4;
$panelPadding: .375rem;


html, body, #app {
  height: 100vh;
  width: 100vw;
}
#app {
  cursor: default;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  background: $pt-app-background-color;
}

:local .itemButton {
  justify-content: flex-start;
  border-radius: 0 !important;
  box-shadow: none !important;

  :global .bp3-button-text {
    flex: 1;
  }
}


:local .homeWindowLayout {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

:local .topPanel {
  overflow: hidden;

  .appTitle {
    padding-left: $pt-grid-size;
    font-size: 160%;
    color: $pt-text-color-muted;
    text-transform: uppercase;
    letter-spacing: -.025em;
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: $pt-grid-size / 2;
  }

  .appSymbol {
    height: 3rem;
    margin-right: $pt-grid-size / 2;
    flex: 0;
  }

  .headerAndSettings {
    flex: 1;
    display: flex;
    align-items: baseline;
    flex: row nowrap;
    justify-content: flex-start;
    overflow: hidden;
    margin-right: $pt-grid-size;
    margin-top: .25em;
  }

  .settingsButton {
    margin-left: $pt-grid-size;
  }

  .panelContents {
    height: 3.75rem;
    padding: 0 $pt-grid-size * 2 .35rem $pt-grid-size * 2 !important;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    background: $panelLightBg;
  }

  .panelTitleBar {
    justify-content: center;
    z-index: 2;
    position: relative;
  }
}

:local .moduleSidebar, :local .topPanel {
  background: $panelLightBg;
  min-height: unset;

  > .panelContents {
    padding: $panelPadding;
    background: transparent;
  }

  > .panelTitleBar {
    height: unset;
  }
}

:local .moduleView {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  overflow: hidden;
  z-index: 2;
  box-shadow: $pt-elevation-shadow-1;
}

:local .moduleSidebar {
  display: flex;
  flex-flow: row nowrap;
  box-shadow: $pt-elevation-shadow-2;
  z-index: 4;

  > .panelContents {
    width: 17rem;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;

    .panelToolbar {
      background: $panelLightBg;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      > :not(:last-child) {
        margin-right: $pt-grid-size;
      }
    }

    .fixedPanel {
      flex-shrink: 0;
      max-height: 33vh;
      display: flex;
      flex-flow: column nowrap;
      margin: -($pt-grid-size / 2);
      padding: ($pt-grid-size / 2) ($pt-grid-size / 4);
      z-index: 2;

      &:first-child {
        padding-top: $pt-grid-size / 4;
      }

      &:last-child {
        padding-bottom: $pt-grid-size / 4;
      }
    }

    .restOfPanels {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-flow: column nowrap;
      padding-bottom: 2rem;
      margin: -$panelPadding;
      padding: $panelPadding;
    }

    .panelContents {
      :global .bp3-tree-node-content {
        height: $pt-button-height * 0.75;
        font-size: $pt-font-size * 0.9;
      }
      :global .bp3-inline > .bp3-form-content {
        flex: 1;
      }
    }
  }

  > .panelTitleBar {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: $pt-grid-size * 1.5;
  }

  &.moduleSidebarRight {
    flex-flow: row-reverse nowrap;
  }
}


:local .invalidDesignation {
  text-decoration: line-through;
  opacity: .4;

  :global .bp3-input {
    text-decoration: line-through;
  }
}


:local .moduleMainView {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;

  > :first-child {
    flex: 1;

    .moduleViewToolbarInner {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      padding: 0 0 $pt-grid-size $pt-grid-size;
      background: $light-gray2;

      > * {
        margin-right: $pt-grid-size;
        margin-top: $pt-grid-size;
      }

      :global .bp3-button-group {
        overflow: hidden;
      }
    }
  }

  > .moduleToolbar {
    padding: $pt-grid-size;
    background: $light-gray2;
    display: flex;
    align-items: center;

    > * {
      margin-right: .5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .backdrop {
    background: $pt-divider-black;
    padding: 1.25rem;

    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;

    > * {
      display: flex;
      flex-flow: column nowrap;

      overflow-y: scroll;
      background: $pt-app-background-color;

      border-radius: $pt-border-radius;
      box-shadow: $pt-elevation-shadow-3;
    }

    > * + * {
      margin-left: 0.625rem;
      border-radius: 0 $pt-border-radius $pt-border-radius 0;
    }

    > :first-child {
      flex: 1;
      border-radius: $pt-border-radius 0 0 $pt-border-radius;
    }

    > :only-child {
      border-radius: $pt-border-radius;
    }
  }
}

:local .conceptID {
  opacity: .4;
  font-size: 80%;

  text-overflow: ellipsis;
  overflow: hidden;
}



/* Specific panels */

:local .sourceRollPanel {
  .sourceName {
    color: $pt-text-color-muted;
  }

  .panelContents {
    overflow-y: hidden !important;
    display: flex;
    flex-flow: column nowrap;
    height: 240px;

    > * {
      flex: 1;
    }
    .conceptItem {
      font-size: 90%;
    }
  }
}

:local .languagesPanel {
  .panelContents {
    height: 140px;
  }
}

:local .helpPanel {
  .panelContents {
    height: 80px;
    padding: $pt-grid-size;
    overflow-y: hidden;
  }
}

:local .reviewNode {
  :global .bp3-icon {
    margin-right: $pt-grid-size;
  }
}

:local .moduleSelector {
  &:not(:last-child) {
    margin-right: $pt-grid-size;
  }
}

:local .treeNodeWithTimestamp {
  :global .bp3-tree-node-content {
    overflow: hidden;
  }
  :global .bp3-tree-node-label {
    flex-shrink: 0;
  }
  :global .bp3-icon {
    margin-right: $pt-grid-size;
  }
  :global .bp3-tree-node-secondary-label {
    overflow: hidden;
  }
}

:local .treeNodeTimestamp {
  font-size: $pt-font-size-small;
  opacity: .5;
}

:local .flexiblePanelSeparator {
  margin-top: $pt-grid-size;
  margin-bottom: $pt-grid-size;
  background: transparent;
  min-height: unset !important;
  box-shadow: none !important;
  text-transform: uppercase;
  text-align: center;
  font-size: $pt-font-size-small;
  text-transform: uppercase;
  color: $pt-text-color-muted;
  flex: 1;
  justify-content: flex-end;

  > * {
    background: transparent !important;
  }
}
