@import "~@blueprintjs/core/lib/scss/variables";


:local .reviewForm {
  flex: 1;

  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;

  :global .bp3-button-group {
    flex: unset !important;
  }

  > :last-child {
    flex: 1;
  }
}
